@page "/DisplaySets"
@using System.Security.Claims
@using Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@using StudHub.SharedDTO
@inject IInventoryClientService InventoryClientService
<PageTitle>Sets</PageTitle>
<AuthorizeView>
    <Authorized>
        <h3>Sets</h3>
        <p role="status">@errorMessage</p>
        @if (isLoading)
        {
            <div class="d-flex justify-content-center my-3">
                <img src="spinner.gif" alt="Loading..."
                     class="img-fluid w-25 mx-auto d-block"/>
            </div>
        }
        else if (sets.Count == 0)
        {
            <p>No sets found.</p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Condition</th>
                    <th>Price</th>
                    <th>Completeness</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var set in sets ?? Enumerable.Empty<SetDTO>())
                {
                    if (set != null)
                    {
                        <SetListItem Set="set"/>
                    }
                }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedContent/>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    private List<SetDTO> sets { get; set; } = new();
    private bool isLoading = true;

    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;


        if (claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            isLoading = false;
            return;
        }

        var username = claimsPrincipal.FindFirst(ClaimTypes.Name)?.Value;
        var studUserIdClaim = claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier);
        if (studUserIdClaim == null || !long.TryParse(studUserIdClaim.Value, out var studUserId))
        {
            errorMessage = "Could not fetch stud ID.";
            isLoading = false;
            return;
        }

        isLoading = true;
        try
        {
            sets = await InventoryClientService.GetUserSetsAsync(studUserId);
        }
        catch (Exception e)
        {
            if (e.Message.Contains($"No BrickLink credentials for"))
            {
                errorMessage = $"No BrickLink credentials for: {username}. Please link your account";
                sets = new List<SetDTO>();
            }
            else
            {
                errorMessage = $"An error occurred while fetching sets: {e.Message}";
            }
        }
        finally
        {
            isLoading = false;
        }
    }

}