@page "/home"

<PageTitle>Home</PageTitle>

<div class="container-fluid d-flex flex-column align-items-center">
    <div class="h1 m-5 mb-4 extra-bold">Welcome to STUDHUB</div>

    <a href="/Login" class="btn btn-dark btn-lg px-5 py-3 d-grid m-3">
        <span class="text-center">Login</span>
    </a>
</div>
