@page "/StoreConnectionPage"
@using System.Security.Claims
@using Client.Components.ConnectionForms
@using Client.Services.StoreConnection
@using Microsoft.AspNetCore.Components.Authorization
@using Studhub.AppServer.Services.Auth_Login
@using StudHub.SharedDTO
@using StudHub.SharedDTO.StoreCredentials
@inject AuthenticationStateProvider AuthStateProvider
@inject IStoreAuthClientService StoreAuthClientService


<PageTitle>Store Connection</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1 class="extra-bold my-3">Store Connection</h1>
        <h4 class="my-2 store-connection-glow">BrickLink</h4>
        @if (!string.IsNullOrEmpty(LastSubmitResultBL))
        {
            <h2 class="alert @(isSuccesBL ? "alert-success" : "alert-danger")">
                @LastSubmitResultBL
            </h2>
        }
        <BrickLinkCredentialsForm BrickLinkCredentials="_brickLinkCredentials"
                                  OnValidSubmit="ValidBrickLinkFormSubmitted"
                                  OnInvalidSubmit="InvalidBrickLinkFormSubmitted"/>
        <h4 class="mt-5 mb-2 store-connection-glow">BrickOwl</h4>
        @if (!string.IsNullOrEmpty(LastSubmitResultBO))
        {
            <h2 class="alert @(isSuccesBO ? "alert-success" : "alert-danger")">
                @LastSubmitResultBO
            </h2>
        }
        
        <BrickOwlCredentialsForm BrickOwlCredentials="_brickOwlCredentials"
                              OnValidSubmit="ValidBrickOwlFormSubmitted"
                              OnInvalidSubmit="InvalidBrickOwlFormSubmitted"/>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedContent/>
    </NotAuthorized>
</AuthorizeView>

@code {
    BrickLinkCredentialsRequestDTO _brickLinkCredentials = new BrickLinkCredentialsRequestDTO();
    BrickOwlCredentialsRequestDTO _brickOwlCredentials = new BrickOwlCredentialsRequestDTO();
    string LastSubmitResultBL;
    string LastSubmitResultBO;
    bool isSuccesBL;
    bool isSuccesBO;
    BrickLinkCredentialsResponseDTO? CreatedBrickLinkConnection;
    BrickOwlCredentialsResponseDTO? CreatedBrickOwlConnection;
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }


    async Task ValidBrickLinkFormSubmitted()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;

        if (claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            LastSubmitResultBL = "You must be logged in to sync.";
            isSuccesBL = false;
            return;
        }
        var userIdClaim = claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier);
        if (userIdClaim == null || !long.TryParse(userIdClaim.Value, out long studUserId))
        {
            LastSubmitResultBL = "Error: Could not retrieve or parse user ID.";
            isSuccesBL = false;
            return;
        }
        _brickLinkCredentials.StudUserId = studUserId; // set StudUserId before sending
        LastSubmitResultBL = "Connecting BrickLink...";
        isSuccesBL = false;
        try
        {
            CreatedBrickLinkConnection = await StoreAuthClientService.SetBrickLinkCredentials(_brickLinkCredentials);

            LastSubmitResultBL = $"Success! BrickLink connected.";
            isSuccesBL = true;
        }
        catch (Exception e)
        {
            LastSubmitResultBL = $"Server Error: {e.Message}";
            isSuccesBL = false;
        }
    }

    void InvalidBrickLinkFormSubmitted()
    {
        isSuccesBL = false;
    }

    async Task ValidBrickOwlFormSubmitted()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;

        if (claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            LastSubmitResultBO = "You must be logged in to sync.";
            isSuccesBO = false;
            return;
        }
        var userIdClaim = claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier);
        if (userIdClaim == null || !long.TryParse(userIdClaim.Value, out long studUserId))
        {
            LastSubmitResultBO = "Error: Could not retrieve or parse user ID.";
            isSuccesBO = false;
            return;
        }
        _brickOwlCredentials.StudUserId = studUserId; // set StudUserId before sending
        LastSubmitResultBO = "Connecting Brick Owl...";
        isSuccesBL = false;
        try
        {
            CreatedBrickOwlConnection = await StoreAuthClientService.SetBrickOwlCredentials(_brickOwlCredentials);

            LastSubmitResultBO = $"Success! Brick Owl connected.";
            isSuccesBO = true;
        }
        catch (Exception e)
        {
            LastSubmitResultBO = $"Server Error: {e.Message}";
            isSuccesBO = false;
        }
    }

    void InvalidBrickOwlFormSubmitted()
    {
        isSuccesBO = false;
    }

}