@using StudHub.SharedDTO.StoreCredentials
<EditForm Model=@BrickLinkCredentials OnValidSubmit=@OnValidSubmit
          OnInvalidSubmit=@OnInvalidSubmit>
    <DataAnnotationsValidator/>
    <div class="form-group store-connection-glow">
        <label for="ConsumerKey">Consumer Key</label>
        <InputText @bind-Value="BrickLinkCredentials.ConsumerKey" class="form-control" id="ConsumerKey" placeholder="enter consumer key..."/>
        <!-- Display specific error message -->
        <ValidationMessage For="@(() => BrickLinkCredentials.ConsumerKey)"/>
    </div>
    <div class="form-group store-connection-glow">
        <label for="ConsumerSecret">Consumer Secret</label>
        <InputText @bind-Value="BrickLinkCredentials.ConsumerSecret" class="form-control" id="ConsumerSecret" placeholder="enter consumer secret..."/>
        <ValidationMessage For="@(() => BrickLinkCredentials.ConsumerSecret)"/>
    </div>
    <div class="form-group store-connection-glow">
        <label for="TokenValue">Token Value</label>
        <InputText @bind-Value="BrickLinkCredentials.TokenValue" class="form-control" id="TokenValue" placeholder="enter token value..."/>
        <ValidationMessage For="@(() => BrickLinkCredentials.TokenValue)"/>
    </div>
    <div class="form-group store-connection-glow">
        <label for="TokenSecret">Token Secret</label>
        <InputText @bind-Value="BrickLinkCredentials.TokenSecret" class="form-control" id="TokenSecret" placeholder="enter token secret..."/>
        <ValidationMessage For="@(() => BrickLinkCredentials.TokenSecret)"/>
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Connect"/>
</EditForm>
@code {
    [Parameter] public BrickLinkCredentialsRequestDTO BrickLinkCredentials { get; set; }
    
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    [Parameter] public EventCallback OnInvalidSubmit { get; set; }
}