@using StudHub.SharedDTO.StoreCredentials

<EditForm Model=@BrickOwlCredentials OnValidSubmit=@OnValidSubmit
          OnInvalidSubmit=@OnInvalidSubmit>
    <DataAnnotationsValidator/>
    <ValidationSummary class="alert alert-warning"/>
    <div class="form-group">
        <label for="BrickOwlApiKey">API Key</label>
        <InputText @bind-Value="BrickOwlCredentials.BrickOwlApiKey" class="form-control" id="BrickOwlApiKey"/>
        <!-- Display specific error message -->
        <ValidationMessage For="@(() => BrickOwlCredentials.BrickOwlApiKey)"/>
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Connect"/>
</EditForm>

@code {
    [Parameter] public BrickOwlCredentialsRequestDTO BrickOwlCredentials { get; set; }
    
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    [Parameter] public EventCallback OnInvalidSubmit { get; set; }
}