@using System.Security.Claims
@using Client.Services.Inventory
@using Client.Services.StoreConnection
@using Microsoft.AspNetCore.Components.Authorization
@using StudHub.SharedDTO
@using StudHub.SharedDTO.Inventory
@namespace Client.Components.Dashboard
@inject AuthenticationStateProvider AuthStateProvider
@inject IInventoryClientService InventoryClientService

<div class="inventory-title-label">
    STUDHUB Inventory Overview
</div>
<div class="inventory-summary-row">
    <span class="inventory-metric-label">Lots total:</span>
    <span class="badge bg-success">@lotsCount</span>
</div>

<div class="inventory-summary-row">
    <span class="inventory-metric-label">Items total:</span>
    <span class="badge bg-success">@itemsCount</span>
</div>

@code {

    [CascadingParameter] public Task<AuthenticationState> State { get; set; } = default!;

    private PagedResultDTO<BrickLinkInventoryDTO> inventory;

    private int lotsCount;
    private int itemsCount;
    private const int MAX_INVENTORY_SIZE = 100000;

    protected override async Task OnInitializedAsync()
    {
        // Get logged-in email for header
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        // Load connection statuses
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal cp = authenticationState.User;

        var uid = cp.FindFirst(ClaimTypes.NameIdentifier);
        if (uid != null && long.TryParse(uid.Value, out long studUserId))
        {
            inventory = await InventoryClientService.GetUserBrickLinkInventoryFromDatabaseAsync(studUserId, 1, MAX_INVENTORY_SIZE,null);
            lotsCount = inventory.TotalCount;

            if (inventory.Items != null && inventory.Items.Any())
            {
                itemsCount = inventory.Items.Sum(item => item.Quantity);
            }
            else
            {
                itemsCount = 0;
            }
        }
    }

}
