@using System.Security.Claims
@using Client.Services.StoreConnection
@using Microsoft.AspNetCore.Components.Authorization
@using StudHub.SharedDTO
@namespace Client.Components.Dashboard
@inject AuthenticationStateProvider AuthStateProvider
@inject IStoreAuthClientService StoreAuthClientService

<div class="store-widget">
    <div class="store-status-row">
        <span class="store-label">BrickLink</span>
        @if (IsBrickLinkConnected?.IsConnected == true)
        {
            <span class="badge bg-success">connected</span>
        }
        else if (IsBrickLinkConnected != null)
        {
            <span class="badge bg-secondary">not connected</span>
        }
        else
        {
            <span class="badge bg-secondary">loading...</span>
        }
    </div>
    <div class="store-status-row">
        <span class="store-label">BrickOwl</span>
        @if (IsBrickOwlConnected?.IsConnected == true)
        {
            <span class="badge bg-success">connected</span>
        }
        else if (IsBrickOwlConnected != null)
        {
            <span class="badge bg-secondary">not connected</span>
        }
        else
        {
            <span class="badge bg-secondary">loading...</span>
        }
    </div>
</div>

@code {

    private ConnectionStatusDTO? IsBrickLinkConnected { get; set; }
    private ConnectionStatusDTO? IsBrickOwlConnected { get; set; }
    [CascadingParameter] public Task<AuthenticationState> State { get; set; } = default!;


    protected override async Task OnInitializedAsync()
    {
        // Get logged-in email for header
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        // Load connection statuses
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal cp = authenticationState.User;

        var uid = cp.FindFirst(ClaimTypes.NameIdentifier);
        if (uid != null && long.TryParse(uid.Value, out long studUserId))
        {
            IsBrickLinkConnected = await StoreAuthClientService.IsBrickLinkConnected(studUserId);
            IsBrickOwlConnected = await StoreAuthClientService.IsBrickOwlConnected(studUserId);
        }
    }

}
