@using Client.Components.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="/Dashboard">
            <img class="img-fluid w-auto"
                 src="studhub_logo.png" alt="StudHub Logo"/>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable"
     onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Dashboard">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StoreConnectionPage">
                <span class="bi-link-45deg-nav-menu"></span> connect store
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span class="bi-link-45deg-nav-menu"></span> inventory
            </NavLink>
        </div>
    </nav>
</div>

<div class="logout-container">
    <button class="btn btn-logout-neon w-100" @onclick="Logout">logout
    </button>
</div>

@code {
    private async Task Logout()
    {
        await ((SimpleAuthProvider)AuthProvider).Logout();
        NavManager.NavigateTo("/");
    }
}


